@font-face {
    font-family: Unik;
    src: url(../fonts/unik.ttf);
}
.tercer-slide{font-family: 'Unik', Helvetica; font-size: 6.250em; font-weight: bold; }
.title-module{color:#000; font-size: 25px; font-style: bold;}

